{% extends 'base.html.twig' %}

{% block body %}
    <h1>ControleVendas</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ controleVenda.id }}</td>
            </tr>
            <tr>
                <th>Datavenda</th>
                <td>{% if controleVenda.datavenda %}{{ controleVenda.datavenda|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Informacoes</th>
                <td>{{ controleVenda.informacoes }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_controle_vendas_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_controle_vendas_edit', { 'id': controleVenda.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
