{% extends 'base.html.twig' %}

{% block body %}
    <h1>HistoricoCredito</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ historicoCredito.id }}</td>
            </tr>
            <tr>
                <th>Controlecredito</th>
                <td>{{ historicoCredito.controleCredito }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{% if historicoCredito.data %}{{ historicoCredito.data|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ historicoCredito.descricao }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_historico_credito_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_historico_credito_edit', { 'id': historicoCredito.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
