<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style>
            body{
                font-size:12px;
            }

            ul li{
                float: left;
                margin-left: 30px;
            }
        </style>
    </head>
    <body>
        <ul>
            <li><a href="{{ url('AppBundleHome') }}">Home</a></li>
            <li><a href="{{ url('AppBundleComoFunciona') }}">Como funciona</a></li>
            <li><a href="{{ url('LeilaoBundle') }}">Leilão</a></li>
            <li><a href="{{ url('AppBundlePoliticaPrivacidade') }}">Politica De Privacidade</a></li>
            <li><a href="{{ url('AppBundleSocial') }}">Social</a></li>
            <li><a href="{{ url('AppBundleCupons') }}">Cupons</a></li>
            <li><a href="{{ url('AppBundleDuvidas') }}">Dúvidas</a></li>
            <li><a href="{{ url('AppBundleConheca') }}">Conheça</a></li>
            <li><a href="{{ url('AppBundleContato') }}">Contato</a></li>
        </ul>

        <br style="clear: both"/>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
