{% extends 'base.html.twig' %}

{% block body %}
    <h1>Passagem</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ passagem.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ passagem.titulo }}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ passagem.descricao }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_passagem_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_passagem_edit', { 'id': passagem.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
